# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*stm_dsp_kicad/.000
*stm_dsp_kicad/.bak
*stm_dsp_kicad/.bck
*stm_dsp_kicad/.kicad_pcb-bak
*stm_dsp_kicad/.sch-bak
*stm_dsp_kicad/~
stm_dsp_kicad/_autosave-*
*stm_dsp_kicad/.tmp
*stm_dsp_kicad/-save.pro
*stm_dsp_kicad/-save.kicad_pcb
stm_dsp_kicad/fp-info-cache

# Netlist files (exported from Eeschema)
*stm_dsp_kicad/.net

# Autorouter files (exported from Pcbnew)
*stm_dsp_kicad/.dsn
*stm_dsp_kicad/.ses

# Exported BOM files
*stm_dsp_kicad/.xml
*stm_dsp_kicad/.csv
